#chart_div_giroscopio {
    width: 1300px;
    height: 400px;
    background: red;
    margin: 0 auto;
}

#chart_div_acelerometro {
    width: 1300px;
    height: 400px;
    background: red;
    margin: 0 auto;
}

#chart_div_temperatura {
    width: 1300px;
    height: 400px;
    background: red;
    margin: 0 auto;
}